1 VERSIONINFO
FILEVERSION 0,9,0,0
PRODUCTVERSION 0,9,0,0
FILEOS 0x40004
FILETYPE 0x2
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "DGerry83"
            VALUE "FileDescription", "Cinematic Shaders Native Plugin"
            VALUE "FileVersion", "0.9.0.0"
            VALUE "InternalName", "CinematicShadersNative"
            VALUE "LegalCopyright", "Copyright 2026 - MIT license"
            VALUE "OriginalFilename", "CinematicShadersNative.dll"
            VALUE "ProductName", "Post-process Shaders for KSP"
            VALUE "ProductVersion", "0.9.0.0"
        }
    }
}